.postArea{  
    padding: 15px;
    border: 2px solid gray;
    margin: 20px;
    border-radius: 5px;
    margin-top:3%;
}
.userDetails div {
display: flex;
}
.userDetails {
display: flex;
justify-content: space-between;
}
.others .icon{
 width: 50%;
margin: 10px;
height: 50px;
}
.userDetails div > .userName{
display: block;
margin: 0;
}
.profilePicture img{
width: 50px;
height: 50px;
border-radius: 50%;
}
.profilePicture:hover{
cursor: pointer;
}
.others  .icon:hover{
width:  45px;
cursor: pointer;
}
.userName{
padding: 5px;
}
.userName:hover{
cursor: pointer;
}

.userName p{
color: gray;
font-size: 15px;
}


.pictures {
padding: 20px;
}
.pictures img{
min-width: 200px;
max-height: 300px;
 }

.captions {
padding: 10px;
}

.headLines{
display: flex;
} 
.headLines .catergory{
display: flex;
justify-content: center;
align-items: center;
width: 100px;
 border-radius: 5px;
 border: 2px solid rgb(130, 109, 71);
color:rgb(16, 15,rgb(128, 128, 128) 15); 
}
.headLines .catergory h3{
color: rgb(152, 127, 80);
}

.headLines .catergory:hover{
background-color: rgb(233, 197, 149);
cursor: pointer;
}
.headLines .title{
display: flex;
justify-content: center;
align-items: center;

}
.headLines div{
margin: 10px;
}

.descriptions {
padding: 20px;
}


.userInteractions{
display: flex;
justify-content: space-between;
}
.userInteractions div{ 
display: flex;  
padding: 10px;    
}

.userInteractions .icon{
color: gainsboro;
width: 30px;
height: 50px;   
}
.userInteractions p{
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
align-items: center;
font-size: 20px;
}


.userInteractions .likes .icon:hover, .likes:hover{
color: red;
cursor: pointer;
}

.userInteractions .comments .icon:hover, .comments:hover{
color: rgb(80, 77, 77);
cursor: pointer;
}

.userInteractions .shares .icon:hover, .shares:hover{
color: rgb(71, 47, 253);
cursor: pointer;
}
 
@media (max-width: 500px){

    .headLines .catergory{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
         border-radius: 5px;
         border: 2px solid rgb(130, 109, 71);
        color:rgb(16, 15,rgb(128, 128, 128) 15); 
    }  
    .title h2{
        font-size: 30px;
        }

    .headLines .catergory h3{
            color: rgb(152, 127, 80);
            font-size: 15px;
    }

    .descriptions {
        padding: 10px;
        }
        .descriptions p{
            font-size: small    ;
        }

    .userInteractions{
        display: flex;
        
        }
    .userInteractions div{ 
        display: flex;  
         margin-right: 20px;
        } 

        .userInteractions .icon{
            color: gainsboro;
            width: 30px;
        }
}