/* Left Sidebar */

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar {
    max-width: 250px;
    position: relative;
    top: 1.3em;
    overflow-y: scroll;
    transform: translateX(-100vw);
    transition: transform .5s;
    margin-top: 3em;
    width: 200px;
    height: 100vh;
    background-color: white;
}

.backdrop {
    position: fixed;
    width: 100vh;
    height: 100vh;
}

.section-title {
    font-size: 1em;
}

.sections {
    border-radius: 10px;
    line-height: 1.8em;
    font-size: 0.8em;
    margin: 1em 0em;
}

/* Profile Styles */

.profile-section {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px;
}

.profile {
    height: 50px;
    width: 50px;
    border: 3px solid var(--body-bgColor);
    border-radius: 50%;
    margin: 0.8em;
}

.profileButton {
    border: none;
    border-radius: 8px;
    padding: 0em 0.5em;
}

.userInfo {
    font-size: 1em;
}

/* People Styles */

.people-section { 
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    background-color: white;
    padding: 10px;
}

.people-profile {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid green;
}

/* Categories Styles */

.categories-section {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    background-color: white;
    padding: 10px;
}

.category {
    text-align: start;
}

.list-ul {
    list-style-type: none;
}

.list-ul li {
    display: flex;
    align-items: center;
    margin: 1em 0em;
}

.list-ul li:hover {
    cursor: pointer;
    color: purple;
    display: flex;
    align-items: center;
    margin: 1em 0em;
}

.spacer {
    margin-left: 10px;
    min-width: 10px;
}

@media screen and (min-width: 1200px) {
    .sidebar {
        top: 1em;
    }

    .sections {
        font-size: 1em;
    }

    .section-title {
        font-size: 1.1em;
    }

    .profile {
        height: 70px;
        width: 70px;
    }

    .categories-section {
        margin-left: 1.5em;
    }

    .people-section {
        margin-left: 1.5em;
    }
}

/* Right Sidebar */

.sidebar-secondary {
    padding: 1em;
    height: 100vh;
    background-color: pink;
    width: min(100%, 300px);
}

.birthday-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.person-info img {
    height: 100px;
    width: 100px;
}

.person-info {
    line-height: 1.5em;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

