.stories {
    z-index: -1;
    max-width: 100%;
    margin-top: 1em;
    padding: 1em;
}

 .stories h3 {
    font-size: 1.2rem;   
}

.story-list {
    margin-top: .5em;
    width: 100%;
    display: flex;
    flex-flow: row-wrap;
    align-items: center;
    
}

.story {
    flex-grow: 1;
    position: relative;
    height: 180px; 
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
    
}

.story img {
    height: 100%;
    width: 100%; 
    object-fit: cover;
    border-radius: 10px;  
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.info {
    position: absolute;
    transform: translateY(-120%);
    display: flex;
    align-items: center;
    gap: .5em;
    margin-left: .6em;
    color: #fff;
}

.info img {
    width: 60px;
    height: 50px;
    border-radius: 50%;
    object-fit: over;
    border: 3px solid #fff;
}


.stories {
  height: 250px;
  overflow: hidden;
}

@media (max-width: 1475px) {
    .story:nth-child(6) {
        display: none;
    }
}


@media (max-width: 1000px) {
    .story:nth-child(4) {
        display: none;
    }

    .story {
        width: 180px;
    }
}


@media (max-width: 805px) {
    .story:nth-child(3) {
        display: none;
    }


    .story:nth-child(5) {
        display: none;
    }
}



@media (max-width: 580px) {
    .story {
        width: 100px;
    }
}


@media (max-width: 490px) {

}

.main {
    max-width: 2108;
    margin-inline: auto;
}

.main-content { 
    
    max-width: 1280px;
}

@media (max-width: 720px) {
    .main {
        padding: 0 !important;
    }

        
    .stories {
        padding: 1em;
    }

}

@media (max-width: 575px) {
    .story h4 {
        font-size: .9rem;
    }

        
    .info img {
        width: 50px;
        height: 50px;
        
    }
}



@media (max-width: 400px) {
    .story h4 {
        font-size: .7rem;
    }

}


